<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="chatwrap">
        <div class="header">
            채팅
        </div>
        <div class="chat">
            <ul></ul>
            <div class="input-div">
                <textarea placeholder="메시지를 입력하세요."></textarea>
            </div>
            <div class="chat format">
                <ul>
                    <li>
                        <div class="sender">
                            <span></span>
                        </div>
                        <div class="message">
                            <span></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</body>
</html>