<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href ="C:\Users\ksh62\Documents\GitHub\Match-the-Study\src\main\resources\static\style-mypage.css">
    <title>마이페이지</title>
</head>
<body>

    <header class= "head">
        <nav>
        <a href = "main.html"><h1> 홈으로 </h1></a>
    </nav>
        <nav>
            <a href = "search.html"><h3> 검색 </h3></a>
        </nav>
        <hr>
        <nav>
            <a href = "search.html"><h3> 로그인 </h3></a>
        </nav>
    </header>

    <div class="edit">
        <ins>마이페이지</ins>
    </div>

    

    <div class = "MyPage">
    <form action = "#" method = "get">
            <table id = "MyPage">
            <thead>
                <tr>
                    <th class = "title"><ins>내 정보</ins></th>
                </tr>
            </thead>
            <tbody id = "main"> 
            <tr>
                    <th class ="name"> 성명 <input type = "text"> </th>
                </tr>
                <tr>
                    <th> 이메일 <input type = "email">
                </tr>
                <tr>
                    <th> 비밀번호 <input type = "password"></th>
                </tr>
            </tbody> 
            </table>
                <button type = "submit" >  수정 </button>

        </div>

    </form>
    
</body>
</html>