<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="C:\Users\ksh62\OneDrive\문서\GitHub\Match-the-Study\src\main\resources\static\boardstyle.css">
</head>
<body>
    <body>
        <header class= "head">
            <div class = "head">
            <nav>
            <a href = "main.html"><h1> 홈으로 </h1></a>
        </nav>
            <nav>
                <a href = "index.html"><h3> 로그인 </h3></a>
            </nav>
        </header>
<hr>

        <div class = "board">
            <table class = "board">
                <tr><td colspan="4"><h2>✏자격증게시판</h2><hr></td></tr>
                <tr class ="face">
                    <td class="num">번호</td>
                    <td class="title">제목</td>
                    <td class="name">작성자</td>
                </tr>
            </table>
        </div>

       
        <button type = "button" class = "writing">글 작성</button>
</body>
</html>