<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="../../../../../../../Users/lenovo/Downloads/style-cg.css">
</head>

<body>
    <div class="main">
        <form action="#" method="get">
            <input type="search" value="찾는 방 검색">
            <input type="button" value="검색">

            <div class="select">
                <select name="학과" id="select-department" onchange="showQualifications()">
                    <option value="" selected disabled>학과를 선택하세요</option>
                    <optgroup label="사범대학">
                        <option value="사범대">사범대</option>
                    </optgroup>
                    <optgroup label="공과대학">
                        <option value="computer">IT관련 학과</option>
                        <option value="electric">전기/전자관련 학과</option>
                        <option value="mechanical">기계관련 학과</option>
                        <option value="Architectural">건축관련 학과</option>
                        <option value="etc">기타 학과</option>
                    </optgroup>
                </select>
            </div>

            <div class="qualifications" id="qualifications" style="display: none;">
                <select name="자격증" id="select-qualifications">
                    <option value="" selected disabled>자격증을 선택하세요</option>
                    <optgroup label="임용고시">
                        <option value="임용고시">임용고시</option>
                    </optgroup>
                    <optgroup label="기사 자격증">
                        <option value="정보처리기사">정보처리기사</option>
                        <option value="전기기사">전기기사</option>
                        <option value="일반기계기사">일반기계기사</option>
                        <option value="건축기사">건축기사</option>
                    </optgroup>
                    <optgroup label="어학">
                        <option value="토익">토익</option>
                        <option value="토플">토플</option>
                        <option value="hsk">hsk</option>
                        <option value="jlpt">jlpt</option>
                    </optgroup>
                </select>
            </div>
        </form>
    </div>

    <div class="ad1">
        <img src = "ad.jpg">
    </div>
    <div class= "ad2">
        <img src = "ad2.jpg">
    </div>









<script>
        function showQualifications() {
            var department = document.getElementById("select-department").value;
            var qualifications = document.getElementById("qualifications");
            
            if (department) {
                qualifications.style.display = "block";
            } else {
                qualifications.style.display = "none";
            }
        }
    </script>





</body>

</html>
